.wrapper {
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;

  @media (--md-scr) {
    max-width: 650px;
  }

  @media (--sm-scr) {
    padding: 0 15px;
  }
}

.meta {
  max-width: 650px;
  margin: 20px 0 40px;

  @media (--sm-scr) {
    max-width: auto;
    margin: 30px;
  }
}

.header {
  @media (--md-scr) {
    @mixin h1-mobile;
  }

  @media (--lg-scr) {
    @mixin h1-desktop;
  }
}

.lead {
  @mixin text-secondary;

  margin-top: 10px;
  color: var(--color-gray);
}

.posts {
  display: flex;
  flex-wrap: wrap;

  @media (--md-scr) {
    width: 700px;
  }

  @media (--sm-scr) {
    display: block;
    width: auto;
  }

  @media (--lg-scr) {
    width: 1050px;
  }
}
