.wrapper {
  display: none;
  position: fixed;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  will-change: transform;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  @media (--md-scr) {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  &.open {
    transform: translateX(0);
  }
}

.button {
  position: fixed;
  display: none;
  z-index: 999;
  right: 15px;
  top: 25px;
  width: 30px;
  height: 20px;
  border: none;
  background: transparent;

  @media (--md-scr) {
    display: block;
  }
}
