.button {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 0 19px;
  text-decoration: none;
  transition: 0.2s background-color ease-out;

  &.small {
    @mixin button-small;

    height: 38px;
    border-radius: 4px;
  }

  &.big {
    @mixin button-big;

    height: 60px;
    border-radius: 8px;
  }

  &.primary {
    border-color: var(--color-azure);
    color: #fff;
    background-color: var(--color-azure);

    &:hover {
      background-color: #13a3bd;
    }
  }

  &.secondary {
    border-color: inherit;
    color: var(--color-gray);
    background-color: transparent;

    &:hover {
      color: var(--color-gray-hover);
    }
  }
}
