.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 300px;
  padding: 0 15px;
  background-color: #13adc7;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.glyph {
  position: absolute;
  z-index: 0;
  width: 158px;
  height: auto;
  object-fit: contain;

  @media (--md-scr) {
    width: 110px;
  }

  @media (--sm-scr) {
    display: none;
  }

  &.topleft {
    top: -32px;
    left: 28px;
  }

  &.rigthbottom {
    bottom: -60px;
    right: 28px;
  }
}

.title {
  color: #fff;
  margin: 0 auto;
  text-align: center;

  @media (--md-scr) {
    @mixin h2-mobile;
  }

  @media (--lg-scr) {
    @mixin h2-desktop;

    line-height: 45px;
  }
}

.subscribeContainer {
  margin: 15px auto 0;
  max-width: 510px;
  border-radius: 8px;
  background-color: #fff;

  @media (--sm-scr) {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    min-height: auto;
  }

  @media (--md-scr) {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    min-height: auto;
  }
}
