:root {
  --color-black: #24292e;
  --color-gray: #838d93;
  --color-gray-hover: #40364d;
  --color-azure: #13adc7;
  --color-blue: #0366d6;
  --color-light-blue: #eef4f8;
  --color-orange: #e37046;
  --font-brandon: "Brandon Grotesque", Tahoma, Arial, sans-serif;
  --font-mono: Inconsolata, monospace;
  --header-height: 98px;
  --header-height-scrolled: calc(var(--header-height) - 20px);
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-brandon);
  color: var(--color-black);
}
