:root {
  --color-black: #24292e;
  --color-gray: #838d93;
  --color-gray-hover: #40364d;
  --color-azure: #13adc7;
  --color-blue: #0366d6;
  --color-light-blue: #eef4f8;
  --font-brandon: "Brandon Grotesque", Tahoma, Arial, sans-serif;
  --font-mono: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}

body {
  margin: 0;
  font-family: var(--font-brandon);
  color: var(--color-black);
}
