@import "/admin/fonts/fonts.css";

:root {
  --color-black: #24292e;
  --color-gray: #838d93;
  --color-gray-opaque: rgba(131, 141, 147, 0.5);
  --color-gray-hover: #40364d;
  --color-light-gray: #d9e2e8;
  --color-azure: #13adc7;
  --color-blue: #1f7ce7;
  --color-light-blue: #eef4f8;
  --color-orange: #e37046;
  --color-orange-opaque: rgba(22, 112, 70, 0.5);
  --font-brandon: "Brandon Grotesque", Tahoma, Arial, sans-serif;
  --font-mono: Inconsolata, monospace;
  --header-height: 98px;
  --header-height-scrolled: calc(var(--header-height) - 20px);
}

html {
  padding: 15px;
  font-family: var(--font-brandon);
  font-size: 24px;
  line-height: 34px;
  color: var(--color-black);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div > *:first-child {
  margin-top: 0;
}

div > *:last-child {
  margin-bottom: 0;
}

hr,
pre,
table {
  margin: 40px 0;
}

p,
ul,
ol,
li {
  margin: 15px 0;
}

code,
kbd,
samp {
  font-size: 20px;
}

h1 {
  margin: 60px 0 25px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}

h2 {
  margin: 60px 0 25px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  margin: 30px 0 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

blockquote {
  margin: 20px 0 20px 20px;
  padding-left: 20px;
  border-left: 5px solid var(--color-light-gray);
  font-style: italic;
}

:not(pre) code,
kbd,
samp {
  padding: 0 5px;
  border-radius: 4px;
  font-family: var(--font-mono);
  font-style: normal;
  color: var(--color-black);
  background: var(--color-light-blue);
}

ol,
ul {
  padding: 0;
}

li {
  padding-left: 30px;
}

ul > li {
  position: relative;
  list-style: none;

  &::before {
    content: "•";
    position: absolute;
    margin-left: -30px;
  }
}

ol {
  counter-reset: ol;
}

ol > li {
  counter-increment: ol;
  position: relative;
  list-style: none;

  &::before {
    content: counter(ol) ".";
    position: absolute;
    margin-left: -30px;
    color: var(--color-gray);
    top: 2px;
    font-size: 20px;
  }
}

hr {
  border: solid var(--color-light-gray);
  border-width: 1px 0 0;
  height: 0;
}

abbr,
acronym {
  border-bottom: 1px dotted var(--color-gray);
  cursor: help;
}

abbr[title] {
  text-decoration: none;
}

table {
  font-size: 16px;
  line-height: 24px;
  border-collapse: collapse;
  width: 100%;
}

thead {
  text-align: left;
}

td,
th {
  border-bottom: 1px solid var(--color-light-gray);
  font-feature-settings: tnum;
  padding: 5px 15px 4px;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

a {
  text-decoration: none;
  color: var(--color-blue);
  word-wrap: break-word;
}

a:focus {
  color: var(--color-orange);
  outline: none;
}

a:active {
  position: relative;
  top: 1px;
  left: 1px;
}

a:hover {
  opacity: 0.7;
}

pre {
  box-sizing: border-box;
  overflow: scroll;
  max-width: 100%;
  padding: 15px;
  border-radius: 4px;
  background: var(--color-light-blue);
}

/* prism theme */

/* based on coy theme */

pre[class*="language-"] {
  background: var(--color-light-blue);
}

/* this code fixes hilghlight with scroll */
pre[class*="language-"] code[class*="language-"] {
  float: left;
  min-width: 100%;
  padding: 0;
  color: #000;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.url,
.token.constant,
.token.operator,
.token.punctuation {
  color: #000;
}

.token.property,
.token.tag,
.token.boolean,
.token.function-name,
.token.symbol,
.token.deleted {
  color: #000080;
}

.token.function {
  color: #458;
}

.token.number,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #219161;
}

.token.entity,
.token.variable {
  color: #a67f59;
}

.token.class-name {
  color: #0086b3;
}

.token.selector,
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #954121;
}

.token.regex,
.token.important {
  color: #b68;
}

.token.parameter {
  color: #00f;
}

.token.function-variable {
  color: #000;
}

.token.important {
  font-weight: normal;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.7;
}
