.wrapper {
  width: 100%;
  min-height: 300px;
  background-color: #40364d;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 64px 0 44px;

  @media (--md-scr) {
    padding: 27px 15px;
  }
}

.top {
  margin-bottom: 57px;

  @media (--sm-scr) {
    margin-bottom: 20px;
  }
}

.logo {
  @mixin active;

  display: block;
  width: 36px;
  height: 23px;

  @media (--md-scr) {
    margin-top: 3px;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

.columns {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;

  @media (--md-scr) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 145px;
  margin-right: 66px;

  @media (--md-scr) {
    margin-right: 0;
  }
}

.heading {
  margin-top: 20px;
  font-family: var(--font-brandon);
  opacity: 0.61;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
}

.links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  @media (--sm-scr) {
    margin-top: 20px;
  }
}

.link {
  @mixin active;
  @mixin focus;

  line-height: 23px;
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #ccc;
  }
}

.icon {
  margin-right: 14px;
  width: 26px;
  height: 26px;
}
