.wrapper {
  position: relative;
  width: 300px;
  height: 500px;
  margin: 0 50px 50px 0;
  background-color: var(--color-light-blue);

  @media (--md-scr) {
    &.big {
      width: 650px;
      height: auto;
    }
  }

  @media (--sm-scr) {
    width: auto;
    height: auto;
    margin: 0;

    &.big {
      width: auto;
    }

    & + & {
      margin-top: 10px;
    }
  }

  @media (--lg-scr) {
    &.big {
      width: 1000px;
      height: 450px;
      margin: 0;
    }
  }
}

.picture {
  display: block;
  width: 300px;
  height: 250px;
  background-color: #dee8ed;

  @media (--md-scr) {
    .big & {
      width: 650px;
      height: 450px;
    }
  }

  @media (--sm-scr) {
    width: auto;
    height: auto;

    .big & {
      width: auto;
      height: auto;
    }

    .placeholder & {
      display: none;
    }
  }

  @media (--lg-scr) {
    .big & {
      float: left;
      width: 650px;
      height: 450px;
      margin-right: 50px;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.body {
  padding: 10px 30px;

  @media (--md-scr) {
    .big & {
      padding-top: 30px;
    }
  }

  @media (--sm-scr) {
    .placeholder & {
      padding-top: 30px;
    }
  }

  @media (--lg-scr) {
    .big & {
      padding: 30px;
    }
  }
}

.title {
  @mixin h3-desktop;

  display: block;
  overflow: hidden;
  max-height: 60px;
  text-decoration: none;
  color: var(--color-black);

  @media (--sm-scr) {
    @mixin h3-mobile;

    max-height: auto;
  }

  @media (--lg-scr) {
    .big & {
      @mixin h2-desktop;

      max-height: 80px;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.description {
  @mixin text-secondary;

  overflow: hidden;
  max-height: 96px;
  margin-top: 10px;
  color: var(--color-gray);

  @media (--sm-scr) {
    max-height: auto;
  }

  @media (--lg-scr) {
    .big & {
      max-height: 240px;
      margin-top: 40px;
    }
  }
}

.meta {
  position: absolute;
  right: 30px;
  bottom: 15px;
  left: 30px;

  @media (--md-scr) {
    .big & {
      position: static;
      padding: 0 30px 15px;
    }
  }

  @media (--sm-scr) {
    position: static;
    padding: 0 30px 15px;
  }

  @media (--lg-scr) {
    .big & {
      left: 700px;
    }
  }
}
