.wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;

  @media (--xs-scr) {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  @mixin active;

  margin-left: 30px;
  padding: 10px 0 3px;
  border-bottom: 1.5px solid #fff;
  font-family: var(--font-brandon);
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-gray);

  &:hover {
    color: var(--color-gray-hover);
    border-color: currentColor;
  }

  &:focus {
    outline: none;
    color: var(--color-orange);
    border-color: currentColor;
  }
}

.getStartedButton {
  margin-left: 40px;
}
